.row1 {
  width: 100%;
  height: 600px;
  padding: 0px 20px;
  margin-right: -15px;
  margin-left: -15px;
  text-align: center;
}

.row3 {
  width: 100%;
  height: 300px;
  padding: 0px 20px;
  margin-right: -15px;
  margin-left: -15px;
  text-align: center;
}